*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
}

.main_div{
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
    
}
.form{
   
    margin-top: 20px;
}
.input_number{
    min-height: 5vh;
    width: 100%;
    border-radius: 5px;
    border: 1px solid grey;
    margin-top: 10px;
    padding-left: 10px;
}
.dropdown{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.From{
    display: flex;
    flex-direction: column;
}
.from_drop{
    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 3px;
    margin-top: 10px;
}
.To{
    display: flex;
    flex-direction: column;
}
.to_drop{
    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 3px;
    margin-top: 10px;
}
#from_logo{
    height: 30px;
}
#to_logo{
    height: 30px;
}
#select_to{
    height: 25px;
    background-color: transparent;
    border: none;
}
#select_from{
    height: 25px;
    background-color: transparent;
    border: none;
}
#exchange_logo{
    margin-top: 10px;
}
#exchange_text{
    margin-top: 20px;
}
#submit_btn{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #af4d98;
    font-size: 1.15rem;
    cursor: pointer;
}